body {
	background: #FAEBD7 url('../images/images/dot-grid.png');
	color: #333;

}

a {
	text-decoration:;
	color: #333;
}

a:hover { color: Tomato; }

header, nav, main, footer {
	width: 80%;
	margin: auto;
}


/* Header styles */
header { 
	color: #1753B3;
	min-height: 100px;
	margin-top: 60px;
    font-family: 'Oswald', sans-serif;
    text-align:center;
    font-size:30px;
}

header h1 {
	padding: 50px 60px;
}


/* Nav styles */
nav { background-color:; }
nav ul { 
	display: flex;
	justify-content:center;
	
}
nav li { padding: 10px 10px; 
}
nav a { color: ##1753B3;
text-decoration:none; 
}
nav a:hover { color: #1753B3; }


/* Main styles */
main { 
	background-color: #fff;
	display: grid;
	grid-template-columns: 60% 40%;
	width: 300px;
  	height: 300px;
}

.round { 

border-radius: 360% 
}


section {
	padding: 40px 60px;
}

section ul, aside ul {
	list-style-type: square;
	margin-top: 60px; 
	margin-left: 20px;
}

aside {
	padding: 40px 10px;
}



/* Footer styles */
footer { 
	background-color: #000;
	color: white;
	text-align: center;
 }
 footer p { padding: 20px; }
