.dropbtn1 {
  color:#f7b000;
  padding: 20px;
  font-size: 16px;
  border: none;
  font-size: 20px;
  font-family: tenez, sans-serif;
  font-weight: 300;
  text-decoration: none;
  background-color:transparent;
}

.dropdown1 {
  position: relative;
  display: inline-block;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  text-align: center;
}

.dropdown-content1 a {
  color: #f7b000;
  padding: 12px 16px;
  font-size: 14px;
  font-family: tenez, sans-serif;
  text-decoration: none;
  display: block;
}
/*
.dropdown-content1 a:hover {background-color: #fbe1d9; }

.dropdown1:hover .dropdown-content1 {display: block;}

.dropdown1:hover  {background-color: #3e8e41}*/
.dropbtn2 {
  color:#f7b000;
  padding: 20px;
  font-size: 16px;
  border: none;
  font-size: 20px;
  font-family: tenez, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
   background-color:transparent;
}

.dropdown2 {
  position: relative;
  display: inline-block;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  text-align: center;
}

.dropdown-content2 a {
  color: #f7b000;
  padding: 12px 16px;
  font-size: 14px;
  font-family: tenez, sans-serif;
  text-decoration: none;
  display: block;
}

.dropdown-content2 a:hover {background-color: #fbe1d9; }

.dropdown2:hover .dropdown-content2 {display: block;}

.dropdown2:hover  {background-color: #3e8e41;}
